fastapi
uvicorn[standard]
sqlalchemy
asyncpg
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
alembic
fastapi-cache2[redis]
fastapi-limiter
fastapi-pagination
redis
jinja2
bcrypt==4.3.0
python-multipart
matplotlib
networkx
pandas>=2.3.3
rich
platformdirs
requests
email-validator
casbin
casbin-sqlalchemy-adapter
gunicorn